<style>
    .info-advise{
        font-family: Roboto Condensed;
        overflow: hidden;
        text-align: justify;
    }
    .info-advise p{
        margin: 0;
    }
    .info-advise ol.square_list{
        list-style-type: square;
    }
</style>
<p>Эрхэм аялагч та Лэнд.МН аппликэйшнээс аялал худалдан авах гэж байгаа бол юуны түрүүнд энэхүү зөвлөмжтэй сайтар танилцана уу.</p>
<p>Лэнд.МН аппликэйшнд орсон аяллууд нь бүгд ОХУ-н Эрхүү болон Улан-Удэ хотуудаас эхлэлтэй аяллууд бөгөөд аялах гэж буй газруудруугаа шууд нислэгтэй аяллууд юм. Та аялал худалдан авахаасаа өмнө Улаанбаатар хотоос ОХУ-н Эрхүү хот болон Улан-Удэ хотууд руу хэрхэн зорчих талаар судлаад үзэхэд илүүдэхгүй.</p>
<p>Гэхдээ бид танд Лэнд.МН аппликэйшнаар аялал захиалах үед тань Улаанбаатар хотоос ОХУ-н Эрхүү болон Улан-Удэ хотууд руу явах автомашин тээврийн үйлчилгээг санал болгох болно. Та энэхүү тээврийн үйлчилгээний үнийн мэдээллийг энэхүү зөвлөмжийн доод хэсгээс уншаарай.</p>
<p>Хэрэв та автомашинаар зорчихгүй гэж бодож байвал дээрх ОХУ-н хотууд руу галт тэрэг, нисэх онгоцны үйлчилгээнүүд байгаа гэдгийг бидний зүгээс сануулж хэлэх байна.</p>
<p>Хэрэв та Галт тэргээр зорчих бол <a href="http://www.eticket.ubtz.mn">www.eticket.ubtz.mn</a> сайтаар орж галт тэрэгний тасалбар захиалах боломжтой. Харин нислэг сонирхож байгаа бол <a href="http://www.aeromongolia.mn">www.aeromongolia.mn</a>, www.hunnuair.com болон <a href="http://www.angara.aero">www.angara.aero</a> сайтуудаас Улаанбаатараас ОХУ-н Эрхүү болон Улан-Удэ хотуудын чиглэлийн нислэгийг судлаж болно.</p>
<p>Мөн аялах гэж буй газар орныхоо цаг агаарын байдал, аялахад юу юу шаардлагатай болон юуг илүүтэй сонирхож үзвэл тохиромжтой талаар интернет, олон нийтийн сүлжээнээс сонирхоод үзэхэд илүүдэхгүй шүү.</p>
<p>Манай аяллын үйлчилгээний үнэнд багтсан үйлчилгээнүүд:</p>
<ol class="square_list">
    <li>ОХУ-н Эрхүү эсвэл Улан-Удэ хотуудаас таны аялах гэж буй газар хүртэл 2 талын шууд нислэг</li>
    <li>Таны буухаар сонгосон зочид буудал</li>
    <li>Тухайн зочид буудлаас санал болгож буй хоолны үйлчилгээ (Тайланд, Вьетнам, Хайнань зэрэг орнуудын зочид буудал зөвхөн өглөөний цайтай)</li>
    <li>Тухайн аяллын багцад багтаж буй даатгалын үйлчилгээ</li>
    <li>Угтаж, үдэх үйлчилгээ</li>
</ol>
<p>гэсэн аяллын үндсэн үйлчилгээнүүд багтсан болно.</p>
<p>Иймд аялагчид зүүн өмнөд азийн орнууд руу аялахаар аялал худалдан авч байгаа бол өдөр, оройн хоол болон үзвэр үйлчилгээний зардалаа өөрсдөө хариуцна гэдгийг анхаараарай.</p>
<p>Бидний зүгээс санал болгож буй дээрх аяллудын байршил нь аялал жуулчлал өндөр хөгжсөн тэргүүлэх орнууд байдаг бөгөөд таныг тухайн газар оронд очих үед онгоцны буудлаас тосож авч буй ажилчид танд өдрийн аяллын хөтөлбөрүүд санал болгоно.</p>
<p>Санал болгож буй аяллын хөтөлбөрүүд нь тухайн газар, орны жишиг болсон аяллын хөтөлбөрүүд байх бөгөөд та тэдгээр өдрийн хөтөлбөрүүдээс хүссэн аяллаа нэмэлт төлбөртэйгээр авах боломжтой.</p>
<ol class="square_list">
    <li>Өдрийн аяллын хөтөлбөрүүд нь тухайн хөтөлбөрт ямар үйлчилгээ багтаж буйгаас шалтгаалан үнийн хувьд харилцан адилгүй.</li>
</ol>
<p>Өдрийн аяллын хөтөлбөрүүд ихэвчлэн $30-$200 (1 хүний үнэ) үнэтэй байдаг</p>
<p>Танд аялахад шаардлагатай зарим мэдээллүүдийг бид доор орууллаа.</p>
<p>&nbsp;</p>
<p><strong>1. Бичиг баримт:</strong></p>
<ol class="square_list">
    <li>Гадаад паспорт /Гадаад паспортын хүчинтэй хугацаа нь хилээр орох өдрөөс хойш 6 сараас (183 хоногоос) доошгүй байна./</li>
    <li>Хүүхэдтэй /18 нас хүрээгүй/ яваа бол түүний гадаад паспорт болон төрсний гэрчилгээ /Бусдын хүүхдийг авч явах тохиолдолд заавал төрсөн эцэг эхээс хүүхдийг нь авч явахыг зөвшөөрсөн нотариатаар батлуулсан итгэмжлэл/-г авч явна.</li>
    <li>Цахим үнэмлэх</li>
</ol>
<p><strong>2. Аяны хэрэгсэл:</strong></p>
<ol class="square_list">
    <li>Цоожилдог цүнх эсвэл чемодан</li>
    <li>Аяны аптек буюу өөрийн хэрэглэдэг болон ойр зуурын эм бэлдмэл, хэрэгсэл /ханиад, даралт, ходоодны эм, даралтны аппарат, гавар гэх мэт/.</li>
    <li>Камер, аппарат ба түүний дагалдах хэрэгсэл</li>
    <li>Нарны хамгаалалтын тос</li>
    <li>Шумуулны тос</li>
    <li>Усны болон нарны шил, овор багатай шүхэр</li>
    <li>Хуурай нойтон салфетка</li>
    <li>Хувийн ариун цэврийн зүйлс</li>
    <li>Овор багатай шүхэр,</li>
    <li>Үзэг бал /хил, гаалийн хуудас бөглөхөд хэрэглэнэ/.</li>
    <li>Бусад</li>
</ol>
<p><strong>3. Хувцас:</strong></p>
<p>Тухайн цаг, улиралд тохирсон хөнгөн хувцас, усны хувцас, хөлд эвтэйхэн углааш сандаал, нарны малгай гэх мэт.</p>
<p>&nbsp;</p>
<p><strong>4. Улаанбаатараас-Эрхүү, Эрхүүгээс-Улаанбаатар орох тээврийн сонголтууд:</strong></p>
<ol>
    <li>ОНГОЦ Улаанбаатараас -Эрхүү хүрэх онгоц 2 талдаа ойролцоогоор 598,000-с дээш/доош байдаг. Улаанбаатар-Эрхүү-Улаанбаатар луу 1,3,5 дахь өдөр л нислэгтэй байдаг.</li>
    <li>ГАЛТ ТЭРЭГ Улаанбаатараас - Эрхүү рүү галт тэрэг Мягмар, Бямба, Ням гарагуудад явдаг. Үнэ нь дээд суудал: 121,450₮, доод суудал: 124,750₮ байдаг. Хүүхэд дээд суудал: 74,150₮, доод суудал: 76,450₮ байдаг.</li>
    <li>АВТОМАШИН Улаанбаатар Эрхүүгийн хооронд Toyota Alphard маркын автомашинууд улс хоорондын нийтийн тээврийн үйлчилгээнд явдаг бөгөөд том хүн болон мөн хүүхэд нэг талдаа 140,000 төгрөгөөр явах боломжтой.</li>
</ol>
<p><strong>5. Улаанбаатараас-Улаан-үүд,&nbsp; Улаан-Үүдээс-Улаанбаатар орох тээврийн сонголтууд</strong></p>
<ol>
    <li>Онгоц Улаан-Үүд рүү онгоц 2 талдаа 452300 байдаг. Гэхдээ та онгоцоор явах бол Улаан-Үүдэд ирэх буцахдаа нийт 3-4 хононо. Яагаад гэвэл УБ-Улаан-Үүд-УБ руу 4,7 дахь өдөр л нислэгтэй байдаг.</li>
    <li>Галт тэрэг Улаан-Үүд рүү галт тэрэг Мягмар, Бямба,Ням гарагуудад явдаг. Том хүн 80,000 хүүхэд 50,000 төгрөг байдаг.</li>
    <li>Машин Улаанбаатараас Улаан-Үүд рүү альфард машин түрээслэж явж болно. Нэг хүн 75,000 төгрөг гэдэг. Автобусанд сууна гэвэл мөн нэг хүний 75,000₮ гэдэг.</li>
</ol>
<p>Манай аяллыг сонгож буйд баярлалаа. Та илүү дэлгэрэнгүй мэдээлэл авахыг хүсвэл ажлын өдрүүдэд 10:00-19:00 цагийн хооронд манай компанийн 8002-5000 дугаараас дэлгэрэнгүй мэдээлэл авна уу</p>
<p>&nbsp;</p>
<p>Таны аялалд тань амжилт хүсье.</p>
<p>Trip Booking Team</p>