<style>
    .s-terms, h3{
        font-family: Roboto Condensed;
    }
    .s-terms p{
        margin: 0;
    }
</style>
{#<p><strong>ҮЙЛЧИЛГЭЭНИЙ НӨХЦӨЛ</strong></p>#}
<p>Please read the terms of service carefully before you proceed payment.</p>
<p><span style="color: #ff0000;">*** Аялал захиалагдсан тохиолдолд буцаах боломжгүйг анхаарна уу ***</span></p>
<p>Leisure Trip Team-ээс танд санал болгож буй энэхүү багц аяллын үйлчилгээ нь ОХУ-н Эрхүү болон Улан-Удэ хотуудаас шууд нислэгтэй аялал бөгөөд танд санал болгож буй аяллын доорх үнэнд дараах үйлчилгээнүүд багтсан болно.</p>
<p><strong>Аяллын үнэнд</strong><strong>:</strong></p>
<ul>
<li>ОХУ-н Эрхүү эсвэл Улан-Удэ хотуудаас таны аялах гэж буй газар хүртэл 2 талын шууд нислэг</li>
<li>Таны буухаар сонгосон зочид буудал</li>
<li>Тухайн зочид буудлаас санал болгож буй хоолны үйлчилгээ (Тайланд, Вьетнам, Хайнань зэрэг орнуудын зочид буудал зөвхөн өглөөний цайтай)</li>
<li>Тухайн аяллын багцад багтаж буй даатгалын үйлчилгээ</li>
<li>Угтаж, үдэх үйлчилгээ</li>
</ul>
<p>Гэсэн аяллын үндсэн үйлчилгээнүүд багтсан болно.</p>
<p><strong>Аяллын үнийн нөхцөл</strong></p>
<ul>
<li>Лэнд МН аппликэйшнд зарлагдсан байгаа үнэ нь 2 хүний үнэ бөгөөд хэрэв та 2-оос олон хүн эсвэл гэр бүл, хүүхдүүдээрээ аялах бол тухайн аялагч нарын мэдээллийг үнэн зөв оруулж үнийг шалгана уу.</li>
</ul>
<p><strong>Шууд (чартер) нислэгийн нөхцөл</strong></p>
<ul>
<li>Манай компаниас санал болгож буй энэхүү багц аяллын нислэг нь зөвхөн энэ аялал зориулагдсан чартер нислэг бөгөөд нислэгийн захиалгын бүх нөхцөл хатуу байдаг.</li>
<li>Нэр солих, нислэгийн өдөр солих, нислэгийг цуцлах, чартер нислэгийг аяллын багцаар тусад нь захиалах боломжгүйг анхаарна уу!</li>
<li>Энэхүү багц аяллын үйлчигээнд багтаж буй нислэгийн үйлчилгээ нь ОУ-н хуваарьт нислэгийн үйлчилгээ биш бөгөөд чартер нислэгийн зарласан цаг өөрчлөгдөж болхыг анхаарна уу!</li>
<li>Чартер нислэгийн хуваарьт өөрчлөлт орсон даруйд Leisure trip team-н зүгээс утсаар болон e-mail-ээр мэдэгдэх бөгөөд тухайн нислэгийн хуваарь өөрчлөгдсөнтэй холбоотой аливаа асуудалд Leisure trip team хариуцлага хүлээхгүй болхыг анхаарна уу!</li>
</ul>
<p><strong>Зочид буудлын нөхцөл</strong></p>
<ul>
<li>Та зочид буудлынхаа мэдээллийг Лэнд МН аппликэйшнд орсон мэдээллээс гадна интернет олон нийтийн сүлжээ болон ОУ-н зочид буудал захиалгын <a target="_blank" href="http://www.booking.com">www.booking.com</a>, <a target="_blank" href="http://www.agoda.com">www.agoda.com</a>, <a target="_blank" href="http://www.tripadvisor.com">www.tripadvisor.com</a> зэрэг сайтуудаас зочид буудлын байршил, өрөөний мэдээлэл, зочид буудлын мэдээлэл болон үйлчилүүлэгчдийн санал хүсэлтийг давхар сайтар нягтлан үзэж зочид буудлаа сонгоорой.</li>
<li>Зочид буудлын захиалга нь хатуу нөхцөлтэй тул захиалга хийгдсэний дараа буудлыг өөрчлөх, цуцлах боломжгүйг анхаарна уу! Мөн тухайн газар оронд очсон хойноо буудлаа солих боломжгүй. Иймд та захиалга аяллын захиалга хийхээсээ өмнө сонгож буй мэдээллийнхээ талаар сайтар судалж үзнэ үү.</li>
<li>Таны аяллын багцад багтаж буй зочид буудлын өрөөний нэршлийг доорх байдлаар ойлгоно. Үүнд:
<ul>
<li>ROH (Run Of House) - энэ нь аялагч тухайн зочид буудлыг захиалж байгаа бөгөөд ямар өрөө сонгож буй нь тодорхойгүй бөгөөд зочид буудалдаа очсоны дараа ресепшинээс сонгож өгсөн өрөөнд бууна гэсэн үг. (Зарим тохиолдолд цонхгүй өрөөнд орох тохиолдолууд байдаг)</li>
</ul>
</li>
</ul>
<p><strong>Хоолны үйлчилгээний нөхцөл</strong></p>
<ul>
<li>Таны аяллын багцад багтаж буй хоолны үйлчилгээний нэршлийг доорх байдлаар ойлгоно. Үүнд:
<ul>
<li>RO (Room Only) - ямар нэгэн хоолны үйлчилгээ багтаагүй зөвхөн зочид буудлын өрөө</li>
<li>BB (Bed &amp; Breakfast) - үнэнд өглөөний цай багтсан</li>
<li>HB (Half board) - өглөөний цай + оройн хоол</li>
<li>FB (Full board) - өглөөний цай + өдрийн хоол + оройн хоол буюу өдрийн 3-н хоол</li>
<li>AI (all inclusive) - бүх хоолны үйлчилгээ багтсан болон нэмэлтээр дотоодын (тухайн улсын) зарим төрлийн алкогол багтсан</li>
<li>UA (ultra all inclusive) - бүх хоолны үйлчилгээ + дотоодын зарим төрлийн алкогол + торт, десерт, онцгой төрлийн иогурт, царцаамаг зэрэг орно.</li>
</ul>
</li>
</ul>
<p>Хэрэв та BB тэмдэгттэй хоолны үйлчилгээ бүхий зочид буудал сонгосон бол таны аялалд зөвхөн өглөөний цай багтсан бөгөөд аялагч та өдөр болон оройн хоолоо өөрөө хариуцна гэсэн үг.</p>
<p>Хэрэв та AI тэмдэгттэй хоолны үйлчилгээ бүхий зочид буудал сонгосон бол таны аялалд хоолны бүх үйлчилгээ багтсан бөгөөд хоолны үйлчилгээ зөвхөн зочид буудалдаа байна гэдгийг анхаарна уу!</p>
<p><strong>Даатгалын үйлчилгээний нөхцөл</strong></p>
<p>Таны сонгосон аяллын багцад ОУ-н, аяллын эрүүл мэндийн даатгалын үйлчилгээг сонгон даатгалын үйлчилгээ авах гэрээ хийгдсэн байх бөгөөд тухайн даатгал нь идэвхигүй байна. Та тэрхүү даатгалыг зөвхөн өөрт эсвэл бусад аялагч нарт зөвхөн эрсдэл үүссэн үед идвэхижүүлэх боломжтой бөгөөд танд ямар төрлийн эрсдэл учирсанаас хамаараад таны даатгалын гэрээн дээр заасан даатгалын багцуудаас сонгон идвэхижүүлэх шаардлагатай. <br /> Даатгалыг идвэхижүүлэхэд 30 ам.доллар байх бөгөөд та энэхүү төлбөрийг өөрийн аялаж буй оронд тань таныг болон тантай хамт аялаж буй аялагчийг хариуцан гайдад төлж идвэхижүүлэх боломжтой.</p>
<ul>
<li>Даатгал авах хэмжээ нь улс, улсаас хамаарч: $35,000 - $50,000 хүртэл байна.</li>
<li>Даатгал согтуу байх үед үүсэн эрсдэлд хамаарахгүй</li>
</ul>
<p><strong>Угтаж, үдэх үйлчилгээний нөхцөл</strong></p>
<p>Таны багц аяллын үйлчилгээнд багтаж буй энэхүү үйлчилгээ нь таныг тухайн газар, оронд очиход онгоцны буудал дээрээс нэгдсэн байдлаар тосч аван буудалд тань хүргэж өгөх бөгөөд аялал тань дуусаж буцах үед тань зочид буудлаас тань авч, нисэх буудалд хүргэж өгөх үйлчилгээг ойлгоно.</p>
<ul>
<li>Таныг тосож авч буй манай компанийн ажилчдын заасан дугаар бүхий автобусанд суух</li>
<li>Автобусанд явах үед Орос болон Англиар тухайн газар орны мэдээллийг өгнө</li>
<li>Буцах өдрийн урд өдрийн орой 18:00-аас хойш таны байрлаж буй зочид буудлын ресепшин дээр таныг хэдэн цагт буудлаа хүлээлгэж өгөх, хэдэн цаг, минутад буудлын үүдэнд бэлэн байх мөн ямар ямар нэр бүхий хүмүүс явах зэрэг мэдээллийг бэлдэж тавьсан байх болно. Хэрэв тийм мэдээлэл 18:00-аас хойш гараагүй байвал та байрлаж буй зочид буудлынхаа ресепшинээс лавлаж асуух шаардлагатай.</li>
<li>Тухайн мэдээлэлд заасан хугацаанаас хоцорч болохгүйг хатуу анхаарна уу!</li>
</ul>
<p><strong>Үзвэр, үйлчилгээний нөхцөл</strong></p>
<p>Энэхүү багц аяллын үйлчилгээний үнэ буюу Лэнд МН аппликэйшн дотор зарлагдсан аяллын үнэнд үзвэр, үйлчилгээний үнэ ороогүй.</p>
<p>Бидний зүгээс санал болгож буй дээрх аяллудын байршил нь аялал жуулчлал өндөр хөгжсөн тэргүүлэх орнууд байдаг бөгөөд таныг тухайн газар оронд очих үед онгоцны буудлаас тосож авч буй ажилчид танд өдрийн аяллын хөтөлбөрүүд санал болгоно.</p>
<p>Санал болгож буй аяллын хөтөлбөрүүд нь тухайн газар, орны жишиг болсон аяллын хөтөлбөрүүд байх бөгөөд та тэдгээр өдрийн хөтөлбөрүүдээс хүссэн аяллаа нэмэлт төлбөртэйгээр авах боломжтой.</p>
<ul>
<li>Өдрийн аяллын хөтөлбөрүүд нь тухайн хөтөлбөрт ямар үйлчилгээ багтаж буйгаас шалтгаалан үнийн хувьд харилцан адилгүй.</li>
<li>Өдрийн аяллын хөтөлбөрүүд ихэвчлэн $30-$200 (1 хүний үнэ) үнэтэй байдаг.</li>
</ul>
<p><strong>Аялагчын үүрэг</strong></p>
<ul>
<li>Аялагч нь онгоцны буудал дээрээс танихгүй хүнээс дайвар ачаа авахгүй байх үүрэгтэй</li>
<li>Аяллын хугацаанд заасан цагийг чандлан баримтлах үүрэгтэй</li>
<li>Аялагч нь тухайн аялаж буй газар, орны хуулинд бүрэн захирагдана</li>
<li>Аялагч нь тухайн газар, орны шашин шүтлэгтэй холбоотой тухайн улсын шашны болон хувь хүний зан үйлийг хүндэтгэн үзэх бөгөөд илээр болон бусдад нөлөөлөх үл хүндэтгэхгүй байх үүрэгтэй</li>
<li>Аялаж буй орны үзвэр үйлчилгээний газар, зочид буудал, нисэх буудал, гудамж талбай, олон нийтийн газар зэрэгт зөв биеэ авч явах үүрэгтэй</li>
</ul>
<p>&nbsp;<strong>Хориглох зүйлс</strong></p>
<ul>
<li>Бусадтай зүй бусаар харьцах</li>
<li>Их хэмжээнээгээр согтох, өөрийгөө хянах чадваргүй болох</li>
<li>Мансуурах, мансууруулах Бодис хэрэглэх</li>
<li>Тухайн улсын хууль хүчний байгууллагыг эсэргүүцэх</li>
<li>Тухайн улсын хуулинд тоймжиргүй хандах</li>
<li>Гэмт хэргийн шинж чанартай үйлдэл хийх</li>
<li>Танхайрах</li>
<li>Аялахаар төлөвлөж буй улсад өмнө нь хууль бусаар оршин сууж байсан бол аялал захиалахыг хориглоно</li>
<li>Гадаад паспортны зөрчилтэй бол аялал захиалахыг хориглоно</li>
</ul>
<p>&nbsp;<strong>Хариуцлага</strong></p>
<ul>
<li>Аялагчын буруутай үйлдэлээс үүдэлтэй аливаа хохирлыг аялагч өөрөө бүрэн хариуцна.</li>
<li>Нислэгийн цагийг баримталаагүйгээс үүдэн нислэгээс хоцорсон тохиолдолд Leisure trip team-н зүгээс ямар нэгэн засварлах арга хэмжээ авах боломжгүй бөгөөд аялагч буцах өөр нислэгийг өөрөө хариуцана.</li>
<li>Аяллыг буруу захиалах, аялагчын мэдээлэл дутуу орсонтой холбоотой захиалга хийгдээгүйгээс шалтгаалан тухайн аяллын үнэ өсөх эсвэл аялал дуусах зэрэгт манай байгууллага хариуцлага хүлээхгүйг анхаарна уу!</li>
</ul>
<p>Leisure trip team-н багц аяллын үйлчилгээг сонгож буйд баярлалаа.</p>